body {
  background-color: black;
}
#gameTitle {
  text-align: center;
  margin-top: 60px;
  font-family: 'Monoton', cursive;
  color: hotpink;
  font-size: 50px;
}


#window {
  position: absolute;
  margin-top: 27px;
  left: 320px;
  height: 600px;
  width: 1170px;
  border: solid hotpink 5px;
  box-shadow: 0 0 30px 0 hotpink,
                    0 0 80px 0 hotpink,
                    0 0 10px 0 hotpink inset;
}

#player {
  position: absolute;
  left: 10px;
  top:10px;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  color: white;
}
#score {
  position: absolute;
  top: 10px;
  left: 530px;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  color: white;
}

#balls {
  position: absolute;
  top: 10px;
  right: 100px;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  color: white;
}

.brick {
  position: absolute;
  width :150px;
  height: 30px;
  background-color: white;
}

#user {
  position: absolute;
  width :200px;
  height: 15px;
  background-color: hotpink;
  border: 1px solid white;
}

.playBall {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  background-color: hotpink;
}

#line {
  position: absolute;
  width: 1170px;
  height: 1px;
  background-color: white;
  bottom: 520px
}

#vertical {
  position: absolute;
  width: 1px;
  height: 600px;
  background-color: white;
  left: 25px;
}

#scoreNum {
  position: absolute;
  top: 2px;
  left: 80px;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  color: white;
}

#playerNum {
  position: absolute;
  top: 2px;
  left: 100px;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  color: white;
}

#ballsNum {
  position: absolute;
  top: 2px;
  right: 0px;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  color: white;
}

#newBall {
  position: absolute;
  display: none;
  bottom: 30px;
  left: 43.75%;
  background-color: black;
  color: turquoise;
  border-radius: 60px;
  width: 200px;
  height: 50px;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  box-shadow: 0 0 30px 0 turquoise,
                    0 0 80px 0 hotpink,
                    0 0 10px 0 hotpink inset;
}

#Begin {
  position: absolute;
  bottom: 30px;
  left: 43.75%;
  background-color: black;
  color: turquoise;
  border-radius: 60px;
  width: 200px;
  height: 50px;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  box-shadow: 0 0 30px 0 turquoise,
                    0 0 80px ,
                    0 0 10px 0 hotpink inset;
}

#winner {
  display: none;
  position: absolute;
  bottom: 220px;
  left: 360px;
  color: #fcf942;
  font-family: 'Monoton', cursive;
  font-size: 85px;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

#loser {
  display: none;
  position: absolute;
  bottom: 190px;
  left: 410px;
  color: #fcf942;
  font-family: 'Monoton', cursive;
  font-size: 85px;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #f71905, 0 0 10px #f71905, 0 0 30px #f71905, 0 0 40px #ab180a,
      0 0 30px #ab180a, 0 0 30px #ab180a, 0 0 100px #ab180a, 0 0 100px #ab180a;
  }
  to {
    text-shadow: 0 0 5px #f71905, 0 0 10px #f71905, 0 0 15px #f71905, 0 0 20px #ab180a,
      0 0 15px #ab180a, 0 0 40px #ab180a, 0 0 50px #ab180a, 0 0 45px #ab180a;
  }
}

